ffmpeg.exe filter=lfs diff=lfs merge=lfs -text
ffplay.exe filter=lfs diff=lfs merge=lfs -text
ffprobe.exe filter=lfs diff=lfs merge=lfs -text
*.html linguist-language=python
*.bat linguist-language=shell
tools/VT-PR/vinetrimmer/** linguist-language=python
*.exe linguist-language=C++
*.dll linguist-language=other